/* Importing the 'Computer Modern' font for a LaTeX-like appearance */
@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@400;700&family=Lato:wght@400;700&display=swap');

body {
    font-family: 'Lato', serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
    color: #333;
    line-height: 1.6;
}

nav {
    background: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

nav a {
    color: #fff;
    margin: 0 15px;
    text-decoration: none;
    font-size: 1.2em;
    /* font-weight: bold; */
}

nav a:hover {
    text-decoration: ;
}

article {
    max-width: 900px;
    margin: 30px auto;
    padding: 20px;
    background: #fff;
}

h1 {
    font-size: 2.5em;
    font-family: 'Lato', sans-serif;
    margin-bottom: 20px;
    color: #333;
    text-align: center;
}

h2 {
    font-size: 2em;
    font-family: 'Lato', sans-serif;
    margin-bottom: 20px;
    color: #333;
    text-align: center;
}

p {
    font-size: 1em;
    margin: 20px 0;
}

img {
    display: block;
    margin: 20px auto;
    max-width: 100%;
    height: auto;
}

.example-box {
    border-left: 4px solid #000;
    margin: 1em 0;
    padding: 1em;
    background-color: #e0d8d8;
    font-family: 'Lato', serif;
    font-size: 0.9em;
}

/* Custom Colors for Highlighting */
.claim {
    background-color: #7895e4; /* Light blue */
    font-weight: bold;
}

.premise {
    background-color: #ebc341; /* Light yellow */
    font-weight: bold;
}

.paragraph-title {
    font-weight: bold;
    margin-top: 1em;
}

@media (max-width: 768px) {
    h1 {
        font-size: 2em;
    }

    p {
        font-size: 1em;
    }
}

video {
    background-color: transparent;
    border: none;
}

html {
    scroll-behavior: smooth;
}

.floating-menu {
    position: fixed;
    top: 60px; /* Adjust based on your preference */
    left: 0px; /* Adjust based on your preference */
    background-color: #333;
    color: #fff;
    padding: 10px 15px;
    border-radius: 0px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000; /* Ensure the menu is above other elements */
}

.floating-menu a {
    display: block;
    color: #fff;
    text-decoration: none;
    margin: 5px 0;
    font-size: 1em;
}

.floating-menu a:hover {
    text-decoration: underline;
}
